* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  padding-top: 65px;
}

/*---------------------NAVIGATION---------------------*/
/*         Navigation Central                */
.nav-central {
  width: 100%;
  height: 65px;
  background-color: #f1f1f1;
  display: flex;
  position: fixed !important;
  justify-content: space-between;
  top: 0;
  box-shadow: 1px 3px 4px #f3e4f3;
  z-index: 2;
}
.bloc-container1 {
  height: 100%;
  width: 33%;
}
.logo-nav {
  height: 100%;
  margin: 5px 0px 0px 10px;
  padding-bottom: 10px;
}
.bloc-container2 {
  height: 100%;
  width: 64%;
  display: flex !important;
  justify-content: flex-end !important;
  margin-right: 20px;
  gap: 10px !important;
  line-height: 60px;
}
.bloc-container2 a {
  text-decoration: none;
  color: #282d32;
  position: relative;
}
.bloc-container2 a:hover {
  text-decoration: none;
  color: #282d32;
}
.bloc-container2 a::after {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  left: 0px;
  height: 2px;
  background: #0e76a8;
  transition: all 0.2s ease-out;
}
.bloc-container2 a:hover::after {
  width: 100%;
}

.inscription {
  text-align: center;
  line-height: 2px;
  width: auto;
  height: 30px;
  margin-top: 13px;
  margin-right: 15px;
  padding: 15px;
  border-radius: 50px;
  background-color: white;
  font-weight: bolder;
  border-color: #f3e4f3;
}
.inscription:hover {
  transition: all 0.2 ease-out;
}

@media screen and (max-width: 1200px) {
  .nav-central {
    top: -165px !important;
  }
}
/*         Navigation Gauche                */
.nav-gauche {
  display: none;
  width: 300px;
  height: 100vh;
  min-height: 800px;
  background-color: #f4f7f8;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid rgb(255, 255, 255);
  z-index: 5;
  transition: all 0.2 ease-in-out;
}

.bloc-menu {
  width: 100%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-menu span {
  text-align: center;
  font-size: 1.2em;
  position: relative;
  cursor: pointer;
}

.bloc-menu span a {
  text-decoration: none;
  color: #282d32;
}

.bloc-menu span ::after {
  content: "";
  display: block;
  width: 0px;
  margin: 5px auto 0 auto;
  height: 2px;
  background: #0e76a8;
  transition: all 0.2s ease-out;
}

.bloc-menu span :hover::after {
  width: 100%;
}

.bloc-menu:nth-child(1) {
  width: 100%;
  height: 25%;
}

.logo {
  width: 150px;
  height: 80px;
}

.logo-contact {
  cursor: pointer;
}

/*---------------------BOUTON MENU BURGER---------------------*/

@media screen and (max-width: 1199px) {
  .nav-gauche {
    left: -300px !important;
    width: 250px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .menu-visible {
    left: 0px !important;
  }

  .bouton-rond {
    background-color: #0e76a8;
    width: 50px;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
  }

  .cont-ligne {
    position: absolute;
    width: 26px;
    height: 26px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ligne {
    width: 95%;
    height: 4px;
    background: #f1f1f1;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ligne::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    bottom: 10px;
    background: #f1f1f1;
  }

  .ligne::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    top: 10px;
    background: #f1f1f1;
  }

  .cont-ligne.active .ligne::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms ease, transform 300ms ease;
  }

  .cont-ligne.active .ligne {
    background: transparent;
  }

  .cont-ligne.active .ligne::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: top 300ms ease, transform 300ms ease;
  }
}
.content {
  flex-grow: 1;
  z-index: 1;
}

/*--------------------- Inscription ---------------------*/
.container-inscription {
  max-width: 500px;
  max-height: 120vh;
  margin: 50px auto;
  padding: 30px;
  background: #f1f1f1;
  color: #282d32;
  border-radius: 5px;
  border: 1px solid #2f2f2fc3;
  z-index: 1;
}
.container.shake {
  animation: shake 0.4s;
}
@keyframes shake {
  33% {
    transform: translateX(-5px);
  }
  66% {
    transform: translateX(5px);
  }
}
h2 {
  font-size: 30px;
  font-family: Raleway, sans-serif;
  text-align: center;
}
.input-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
label {
  font-size: 20px;
  display: block;
  position: relative;
}

input {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #282d32;
  padding: 10px 0;
  background: transparent;
  border: none;
  outline: 0;
  border-bottom: 1px solid #282d32;
}
input:focus {
  box-shadow: 0 1px 0px #fff;
}
input::placeholder {
  font-size: 16px;
}
.icon-input-container {
  position: relative;
}
.icone-verif {
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: none;
}
.error-msg {
  margin-top: 7px;
  color: #f75252;
  font-weight: 400;
  display: none;
}
.pswd-info {
  margin-top: 8px;
  color: #282d32;
  font-weight: 400;
  display: block;
}
.lines {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
.l1,
.l2,
.l3 {
  height: 5px;
  margin: 15px 5px 20px;
  width: 30%;
  position: relative;
  display: none;
}
.l1 {
  background-color: #cf5914;
}
.l2 {
  background-color: #fdeb50;
}
.l3 {
  background-color: #14e214;
}
.lines span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}

form button {
  font-size: 20px;
  min-width: 150px;
  display: block;
  margin: 40px auto 10px;
  padding: 12px 15px;
  background-color: white;
  border: 2px solid #0e76a8;
  color: #0e76a8;
  border-radius: 50px;
  font-family: Raleway;
  font-weight: bolder;
  cursor: pointer;
}
form button:hover {
  background-color: #0e76a8;
  color: white;
}

/*--------------------- Connexion ---------------------*/
.content-connexion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.wrapper {
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #f1f1f1;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background-color: #0e76a8;
}
.wrapper form {
  padding: 10px 30px 50px 30px;
}
.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid {
  border-color: #0e76a8;
}
.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #0e76a8;
  background: #fff;
  transform: translateY(-50%);
}
form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input {
  width: 15px;
  height: 15px;
  background: red;
}
form .content label {
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link {
  color: "";
}
form .field input[type="submit"] {
  color: #0e76a8;
  border: 1px solid #0e76a8;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: white;

  transition: all 0.3s ease;
}
form .field input[type="submit"]:active {
  transform: scale(0.95);
}
form .field input[type="submit"]:hover {
  background-color: #0e76a8;
  color: white;
}
form .signup-link {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a {
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline;
}
/*---------------------FOOTER---------------------*/
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

/*--------------------- PAGE D'ACCUEIL ------------------------*/

/*---------------------CONSULTATION PROJET---------------------*/

h1.text-logo {
  text-align: center !important;
}

.row {
  justify-content: center !important;
}

.img-thumbnail {
  border: 2px solid;
}

.body-part1 {
    background-color: #f2d2f3;
    border-radius: 10px;
} 

.body-part-3 {
  background-color: #e4caf0;
}