* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  padding-top: 65px;
}

/*---------------------NAVIGATION---------------------*/
/*         Navigation Central                */
.nav-central {
  width: 100%;
  height: 65px;
  background-color: #f4f7f8;
  display: flex;
  position: fixed !important;
  justify-content: space-between;
  top: 0;
  border-top: 2px solid #a29d9d;
  box-shadow: 1px 3px 4px #a29d9d;
  z-index: 2;
}
.bloc-container1 {
  height: 100%;
  width: 33%;
}
.logo-nav {
  height: 100%;
  margin: 5px 0px 0px 10px;
  padding-bottom: 10px;
}
.bloc-container2 {
  height: 100%;
  width: 64%;
  display: flex !important;
  justify-content: flex-end !important;
  margin-right: 20px;
  gap: 10px !important;
  line-height: 60px;
}
.bloc-container2 a {
  text-decoration: none;
  color: #282d32;
  position: relative;
}
.bloc-container2 a:hover {
  text-decoration: none;
  color: #282d32;
}
.bloc-container2 a::after {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  left: 0px;
  height: 2px;
  background: #0e76a8;
  transition: all 0.2s ease-out;
}
.bloc-container2 a:hover::after {
  width: 100%;
}

.inscription {
  text-align: center;
  line-height: 2px;
  width: auto;
  height: 30px;
  margin-top: 13px;
  margin-right: 15px;
  padding: 15px;
  border-radius: 50px;
  background-color: white;
  color: #0e76a8;
  font-weight: bolder;
  border-color: #0e76a8;
}
.inscription:hover {
  color: white;
  background-color: #0e76a8;
  transition: all 0.2 ease-out;
}

@media screen and (max-width: 1200px) {
  .nav-central {
    top: -165px !important;
  }
}
/*         Navigation Gauche                */
.nav-gauche {
  display: none;
  width: 300px;
  height: 100vh;
  min-height: 800px;
  background-color: #f4f7f8;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid rgb(255, 255, 255);
  z-index: 5;
  transition: all 0.2 ease-in-out;
}

.bloc-menu {
  width: 100%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-menu span {
  text-align: center;
  font-size: 1.2em;
  position: relative;
  cursor: pointer;
}

.bloc-menu span a {
  text-decoration: none;
  color: #282d32;
}

.bloc-menu span ::after {
  content: "";
  display: block;
  width: 0px;
  margin: 5px auto 0 auto;
  height: 2px;
  background: #0e76a8;
  transition: all 0.2s ease-out;
}

.bloc-menu span :hover::after {
  width: 100%;
}

.bloc-menu:nth-child(1) {
  width: 100%;
  height: 25%;
}

.logo {
  width: 150px;
  height: 80px;
}

.logo-contact {
  cursor: pointer;
}

/*---------------------BOUTON MENU BURGER---------------------*/

@media screen and (max-width: 1199px) {
  .nav-gauche {
    left: -300px !important;
    width: 250px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .menu-visible {
    left: 0px !important;
  }

  .bouton-rond {
    background-color: #0e76a8;
    width: 50px;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
  }

  .cont-ligne {
    position: absolute;
    width: 26px;
    height: 26px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ligne {
    width: 95%;
    height: 4px;
    background: #f1f1f1;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ligne::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    bottom: 10px;
    background: #f1f1f1;
  }

  .ligne::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    top: 10px;
    background: #f1f1f1;
  }

  .cont-ligne.active .ligne::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms ease, transform 300ms ease;
  }

  .cont-ligne.active .ligne {
    background: transparent;
  }

  .cont-ligne.active .ligne::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: top 300ms ease, transform 300ms ease;
  }
}
.content {
  flex-grow: 1;
  z-index: 1;
}
/*---------------------FOOTER---------------------*/
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

/*--------------------- PAGE D'ACCUEIL ---------------------*/



/*---------------------CONSULTATION PROJET---------------------*/

h1.text-logo{
  text-align: center !important;
}

.row{
  justify-content: center !important;
}

.img-thumbnail{
  border: 2px solid;
}