/* .bandeau.bg-primary{
    background-color: #f2d2f3 !important;
    color: #ff99cc !important;
    border-radius: 10px;
} */

.container{
    background-color: #f7dff8 !important;
    color: #ff99cc !important;
    border-radius: 10px;
}

/* .img-thumbnail.border-primary{
    border-color: #240085 !important;
}
  
.btn.btn-primary{
    background-color : #240085 !important;
    border-color:#240085;
}
  
.btn.btn-primary:hover{
    background-color : #AE36B1 !important;
} */